<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/css/cv.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <title>CV</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 rate">
          <!-- <input type="range" min="1" max="10"> -->
          <h3 style="margin-left: 100px;"></h3>
          <div class="slider">
              <div class="ui-slider-handle">
                  <div class="smiley">
                      <svg viewBox="0 0 34 10" version="1.1">
                          <path d=""></path>
                      </svg>
                  </div>
              </div>
              <div class="text">
                  <span><h2>&nbsp;&nbsp;&nbsp; Overall Rating</h2></span>
                  <strong>{{rating}}</strong>
              </div>
          </div>
          <div class="comments" style="margin-top: 65px; margin-left: 100px;">
            <h2 style="margin-bottom: 25px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comments</h2>
            <textarea rows="8" cols="35" placeholder="Add your comments here" id="comments">{{comments}}</textarea>
          </div>
          <button id="submit" class="submitButt">Submit</button>
        </div>
        <div class="col-md-8 embed-responsive" style='padding-bottom:150%'>
           <object data="/api/getpdf/{{clubName}}/{{id}}#toolbar=0&navpanes=0&scrollbar=0&zoom=160" type='application/pdf' width='80%' height='100%'></object>
          <!-- <iframe src="/api/getpdf/{{clubName}}/{{id}}#toolbar=0&navpanes=0&scrollbar=0&zoom=150" align="right" width="1300" height="980" id="pdf" type='application/pdf'></iframe> -->
        </div>
      </div>
    </div>
    </body>
    <script type="text/javascript" src="/js/cv.js"></script>
</html>

<!-- src="/api/getpdf/{{clubName}}/{{id}}#toolbar=0&navpanes=0&scrollbar=0&zoom=150 "-->
